@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalam:wght@300;400;700&family=Playwrite+CU:wght@100..400&family=Song+Myung&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}
body{
  
  background-color:rgb(124, 24, 124);
 
 
 }

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  background-color:cadetblue;
  cursor: crosshair;
  padding: 4px;
  margin: 16px 0;
}
/* CSS */
.btn {
  background-color: rgba(255, 0, 93, 0.967);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  font-size: larger;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}